<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>

  <% end %>
</ul>

<%= simple_form_for @list do |f|%>
<%= f.input :name %>
<%= f.submit class:"btn btn-primary" %>
<% end %>
